<div class="container">
    <h1>Lista de Jogos</h1>
</div>

<div class="container">
    <ul class="collection-list">
        <li class="collection-name active">Aventura</li>
        <li class="collection-name">Corrida</li>
        <li class="collection-name">Luta</li>
        <li class="collection-name">Raciocínio</li>
    </ul>

    <div class="game-list-wrapper">
        <h2>Itens encontrados:
            <span class="games-amount">12</span>
        </h2>

        <ul class="game-list">
            <li class="game-item">
                <span class="position">01</span>
                <img
                    src="https://cdn.awsli.com.br/600x700/1610/1610163/produto/195554057/poster-super-mario-bros-o-filme-b-f684e900.jpg">
                <div class="info">
                    <h3>Super Mario Bros</h3>
                    <p class="short-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Exercitationem, voluptatem veritatis.</p>
                    <p class="year">1985</p>
                </div>
            </li>
            <li class="game-item">
                <span class="position">02</span>
                <img
                    src="https://cdn.awsli.com.br/600x700/1610/1610163/produto/195554057/poster-super-mario-bros-o-filme-b-f684e900.jpg">
                <div class="info">
                    <h3>Super Mario Bros</h3>
                    <p class="short-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Exercitationem, voluptatem veritatis.</p>
                    <p class="year">1985</p>
                </div>
            </li>
            <li class="game-item">
                <span class="position">03</span>
                <img
                    src="https://cdn.awsli.com.br/600x700/1610/1610163/produto/195554057/poster-super-mario-bros-o-filme-b-f684e900.jpg">
                <div class="info">
                    <h3>Super Mario Bros</h3>
                    <p class="short-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Exercitationem, voluptatem veritatis.</p>
                    <p class="year">1985</p>
                </div>
            </li>
        </ul>
    </div>
</div>