<div class="game-list-page">
    <header>
        <div class="container">
            <h1>Lista de Jogos</h1>
        </div>
    </header>

    <main class="collections-and-games">
        <div class="container">
            <app-collection-list-component (collectionsEmitter)="setCollectionList($event)"
                (currentCollectionEmitter)="setCurrentCollection($event)" />

            <app-game-list-component [currentCollection]="currentCollection" />
        </div>
    </main>

    <footer>

    </footer>
</div>