<header>
    <div class="container">
        <h1>Detalhes do Jogo</h1>
        <button>Voltar</button>
    </div>
</header>

<div class="container">
    <h3>Na coleção <span class="collection-name">Aventura</span></h3>

    <article class="game">
        <img
            src="https://cdn.awsli.com.br/600x700/1610/1610163/produto/195554057/poster-super-mario-bros-o-filme-b-f684e900.jpg">
        <div class="info">
            <p class="year">1985</p>
            <h2 class="name">Super Mario Bros</h2>
            <p class="genre">Gênero: <span class="content">Aventura</span></p>
            <p class="platforms">Plataforma: <span class="content">Nintendo, Nintendo 64</span></p>
            <div class="ratings">
                <img src="svg/star-full.svg" />
                <img src="svg/star-full.svg" />
                <img src="svg/star-full.svg" />
                <img src="svg/star-half.svg" />
                <img src="svg/star-empty.svg" />
            </div>
            <p class="short-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima, velit
                corporis. corporis ipsam molestiae maiores dolore.</p>
            <p class="long-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore corporis quia
                soluta beatae natus earum, exercitationem consequuntur hic voluptas asperiores facilis numquam inventore
                reprehenderit nobis, saepe ad rerum amet perspiciatis. Ex quaerat, debitis quia reprehenderit animi
                assumenda sed. Reiciendis consectetur excepturi fugit ipsum blanditiis</p>
        </div>
    </article>
</div>