<header>
    <div class="container">
        <h1>Coleções</h1>
        <ul class="collection-list">
            <li>
                <a class="collection-name active" href="#">Aventura</a>
            </li>
            <li>
                <a class="collection-name" href="#">Corrida</a>
            </li>
            <li>
                <a class="collection-name" href="#">Luta</a>
            </li>
            <li>
                <a class="collection-name" href="#">Raciocínio</a>
            </li>
        </ul>
    </div>
</header>