<main class="start-page">
    <div class="container">
        <img src="images/game-start.png" alt="">
        <div class="text-content">
            <h2>DSList</h2>
            <h1>Suas Coleções do Jeito Certo</h1>
            <p>Organize sua coleção de games de um jeito prático e divertido. Com esse projeto você vai aprender a criar
                uma aplicação frontend e elevar seus conhecimentos para o próximo nível</p>
            <app-button text="Iniciar" cssClass="btn-primary" (onClick)="openGameList()"></app-button>
        </div>
    </div>
</main>