$font-primary: "Crimson Pro";
$font-secondary: "Poppins";
$color-primary: #3059C8;
$color-background: #09000E;
$color-background-hover: #ffffff11;
$color-text-primary: #fff;
$color-text-secondary: #BDBDBD;
$color-text-accent: #59B4FF;