@use './app/variables.scss' as *;

* {
    font-family: "Crimson Pro", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $color-text-primary;
}

body {
    background-color: $color-background;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
}